<template>
  <v-app>
    <v-content>
      <v-container>
        <v-layout column wrap align-center>
          <v-flex xs12 class="text-center">
            <v-img
              :src="require('./assets/logo.png')"
              width="200"
              height="200"
              class="my-3"
              contain
            >
            </v-img>
          </v-flex>
        </v-layout>
        <v-layout row wrap align-center>
          <v-flex xs10 offset-xs1>
            <v-card class="mt-13">
              <coreCard />
            </v-card>
          </v-flex>
        </v-layout>
        <v-btn
          dark
          small
          fixed
          bottom
          fab
          right
          v-on:click="languageSelect = true"
          v-if="!isLoadingPage"
        >
          <v-icon>
            fas fa-globe-americas
          </v-icon>
        </v-btn>
        <v-dialog
          v-model="languageSelect"
          max-width="440"
          v-if="!isLoadingPage"
        >
          <v-card>
            <v-card-title>{{ messages.languageSelect }}</v-card-title>
            <v-list shaped>
              <v-list-item v-on:click="changeLanguageAsync('pt')">
                <v-list-item-action>
                  <v-avatar :size="35">
                    <img :src="require('./assets/br-flag.svg')" />
                  </v-avatar>
                </v-list-item-action>
                <v-list-item-content>
                  {{ messages.pt }}
                </v-list-item-content>
              </v-list-item>
              <v-list-item v-on:click="changeLanguageAsync('en')">
                <v-list-item-action>
                  <v-avatar :tile="false" :size="35">
                    <img :src="require('./assets/gb-flag.svg')" />
                  </v-avatar>
                </v-list-item-action>
                <v-list-item-content>
                  {{ messages.en }}
                </v-list-item-content>
              </v-list-item>
            </v-list>
            <br />
          </v-card>
        </v-dialog>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import coreCard from "./components/CoreCard";
import {
  loadAsync,
  waitLanguageLoadAsync,
  changeLanguageAsync
} from "./plugins/langLoader";
import "./assets/gb-flag.svg";
import "./assets/br-flag.svg";

export default {
  name: "App",
  components: {
    coreCard
  },
  data: () => ({
    isLoadingPage: true,
    languageSelect: false
  }),
  methods: {
    async changeLanguageAsync(language) {
      await changeLanguageAsync(this, language);
      this.languageSelect = false;
    }
  },
  computed: {
    messages() {
      return this.$store.state.messages;
    }
  },
  created() {
    loadAsync(this);
  },
  async mounted() {
    await waitLanguageLoadAsync(this);
    this.isLoadingPage = false;
  }
};
</script>

<style>
.mt-13 {
  margin-top: 13vh;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.v-application--is-ltr .v-input__prepend-outer,
.v-application--is-rtl .v-input__append-outer {
  margin-right: 12px !important;
}
</style>
