<template>
  <v-flex xs12 class="padding-left-10">
    <v-container>
      <v-layout row wrap v-if="!isLoadingPage">
        <v-flex xs12>
          <groupHelp>
            <v-text-field
              label="Pattern"
              prepend-icon="fas fa-prescription"
              v-model="pattern.value"
              :error="pattern.error"
              :error-messages="pattern.errorMessage"
              v-on:blur="validateObj(pattern, true)"
              v-on:input="validateObj(pattern, false)"
            >
            </v-text-field>
            <template v-slot:helptip>
              {{ messages.helps.pattern }}
            </template>
          </groupHelp>
        </v-flex>
        <v-flex xs12>
          <groupHelp>
            <v-text-field
              label="Replaces"
              prepend-icon="fas fa-retweet"
              v-model="replaces.value"
              :error="replaces.error"
              :error-messages="replaces.errorMessage"
              v-on:blur="validateObj(replaces, true)"
              v-on:input="validateObj(replaces, false)"
            >
            </v-text-field>
            <template v-slot:helptip>
              {{ messages.helps.replaces }}
            </template>
          </groupHelp>
        </v-flex>
        <v-flex xs12>
          <groupHelp>
            <v-text-field
              label="Replace"
              prepend-icon="fas fa-list-ul"
              v-model="replace.value"
              :error="replace.error"
              :error-messages="replace.errorMessage"
              v-on:blur="validateObj(replace, true)"
              v-on:input="validateObj(replace, false)"
            >
            </v-text-field>
            <template v-slot:helptip>
              {{ messages.helps.replace }}
            </template>
          </groupHelp>
        </v-flex>
        <v-flex xs12>
          <groupHelp>
            <v-text-field
              :label="messages.result"
              prepend-icon="fas fa-check"
              v-model="result"
              readonly
              v-on:click="copyAsync()"
            >
            </v-text-field>
            <template v-slot:helptip>
              {{ messages.helps.result }}
            </template>
          </groupHelp>
        </v-flex>
        <v-flex sm7 md9></v-flex>
        <v-flex sm4 md2 pl-5>
          <v-btn medium color="primary" v-on:click="executeAsync()">
            {{ messages.execute }}
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap v-else>
        <v-flex xs12>
          <preLoader />
        </v-flex>
      </v-layout>
      <v-snackbar v-model="copied">
        <div class="subtitle-1">
          {{ messages.copied }}
        </div>
        <v-btn depressed text v-on:click="copied = false">
          {{ messages.close }}
        </v-btn>
      </v-snackbar>
      <v-dialog v-model="loadingRequest" hide-overlay persistent width="300">
        <v-card color="primary darken-2" dark>
          <v-card-text style="padding-top: 15px;">
            {{ messages.loading }}
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-container>
  </v-flex>
</template>

<script>
import preLoader from "./PreLoader";
import groupHelp from "./GroupHelp";
import {
  waitLanguageLoadAsync,
  getMessageOrLoading
} from "../plugins/langLoader";
import axios from "axios";

export default {
  name: "coreCard",
  data: () => ({
    isLoadingPage: true,
    pattern: {
      value: "",
      error: false,
      errorMessage: []
    },
    replaces: {
      value: "",
      error: false,
      errorMessage: []
    },
    replace: {
      value: "",
      error: false,
      errorMessage: []
    },
    result: "",
    copied: false,
    loadingRequest: false
  }),
  components: {
    groupHelp,
    preLoader
  },
  methods: {
    validateObj(obj, blur = false) {
      if (!obj.value && blur) {
        obj.error = true;
        obj.errorMessage = [this.messages.errorValidate];
      } else {
        obj.error = false;
        obj.errorMessage = [];
      }
    },
    validate() {
      this.validateObj(this.pattern, true);
      this.validateObj(this.replaces, true);
      this.validateObj(this.replace, true);

      if (!this.pattern.value && !this.replaces.value && !this.replace.value) {
        return false;
      }

      return true;
    },
    async executeAsync() {
      if (!this.validate()) return;

      this.loadingRequest = true;

      const response = await axios.post("/api/Replacer", {
        pattern: this.pattern.value,
        replaces: this.replaces.value,
        replace: this.replace.value
      });

      this.result = response.data.result;

      this.loadingRequest = false;
    },
    async copyAsync() {
      if (!this.result) {
        return;
      }

      await axios.post("/api/Clipboard", {
        text: this.result
      });

      this.copied = true;

      setTimeout(() => {
        this.copied = false;
      }, 1500);
    }
  },
  async mounted() {
    await waitLanguageLoadAsync(this);
    this.isLoadingPage = false;
  },
  computed: {
    messages() {
      return this.$store.state.messages;
    }
  }
};
</script>

<style scoped>
.padding-left-10 {
  padding-left: 10vw !important;
}
</style>
