<template>
  <v-layout row>
    <v-flex xs10>
      <slot></slot>
    </v-flex>
    <v-flex xs1>
      <helptip>
        <slot name="helptip"></slot>
      </helptip>
    </v-flex>
  </v-layout>
</template>

<script>
import helptip from "./Helptip";
export default {
  name: "GroupHelp",
  components: {
    helptip
  }
};
</script>
