<template>
  <div>
    <v-tooltip top color="black">
      <template v-slot:activator="{ on }">
        <div v-on="on">
          <v-icon color="light-blue" size="15">
            fas fa-question-circle
          </v-icon>
        </div>
      </template>
      <span>
        <slot> </slot>
      </span>
    </v-tooltip>
  </div>
</template>

<script>
export default {
  name: "helptip"
};
</script>
