<template>
  <div class="text-xs-center mt-5 mb-5">
    <v-progress-circular :size="70" :width="3" color="blue" indeterminate>
    </v-progress-circular>
  </div>
</template>
<script>
export default {
  name: "PreLoader"
};
</script>
